.Rproj.user
.Rhistory
.RData
.Ruserdata
hydrolakes_NA.dbf
hydrolakes_NA.prj
hydrolakes_NA.shp
hydrolakes_NA.shx

#Ignore shps
/ignore_shps

#Ignore LAGOS info
/data/lagos_dataset_info.csv
/data/limno_summary.csv
/data/limno_summary_2000s.csv

#Ignore SPARROW data files
/data/wq_tn.txt
/data/wq_tp.txt